<%- include("../inclueds/head")  %>

<style>

</style>

<head>
<body>
<%- include("../inclueds/uper_header")  %> 
<%- include("../inclueds/lower_header")  %>



<%- include("../inclueds/footer_script")  %>
<%- include("../inclueds/footer")  %>

</body>
