<%- include("../layouts/head") %> 



    <%- include("../layouts/main-header") %> 
    <%- include("../layouts/main-sidebar") %> 

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin/dashpored">الرئيسية </a>
                                </li>
                                <li class="breadcrumb-item"><a href="/admin/language/"> كومنتات المونتجات </a>
                                </li>
                                <li class="breadcrumb-item active">إضافة كومنت جديد
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="basic-form-layouts">
                    <div class="row match-height">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="basic-layout-form"> إضافة كومنت </h4>
                                    <a class="heading-elements-toggle"><i
                                            class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <%- include("../layouts/notification") %> 
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <form enctype="multipart/form-data" class="form" method="post" >
                                            <div class="form-body">
                                                <h4 class="form-section"><i class="ft-home"></i> بيانات الكومنت </h4>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> الكومنت</label>
                                                            <input type="text" name="comment" class="form-control" placeholder="enter your comment ">
                                                            <% if (validationError) { %>
                                                                <% if (validationError.comment) { %>
                                                                    <span class="text-danger"><%=validationError.comment[0].msg %></span>
                                                                 <% } %>
                                                            <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> الليكات</label>
                                                            <input type="text" name="likes" class="form-control" value="0" placeholder="enter your likes ">
                                                            <% if (validationError) { %>
                                                                <% if (validationError.likes) { %>
                                                                    <span class="text-danger"><%=validationError.likes[0].msg %></span>
                                                                 <% } %>
                                                            <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> عدم الاعجاب</label>
                                                            <input type="text" name="deslikes" class="form-control" placeholder="enter your deslikes ">
                                                            <% if (validationError) { %>
                                                                <% if (validationError.deslikes) { %>
                                                                    <span class="text-danger"><%=validationError.deslikes[0].msg %></span>
                                                                 <% } %>
                                                            <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput2"> المنتجات </label>
                                                            <select name="direction" class="direction form-control" class="select2">
                                                                <optgroup label="من فضلك اختر المنتج الذي تريده">
                                                                    <option></option>
                                                                    <% products.forEach(element => { %>
                                                                        <option class="<%= element.id %>"><%= element.productName %></option>
                                                                    <% }) %>
                                                                </optgroup>
                                                            </select>
                                                            <% if (validationError) { %>
                                                                <% if (validationError.direction) { %>
                                                                    <span class="text-danger"><%=validationError.direction[0].msg %></span>
                                                                    <% } %>
                                                            <% } %>
                                                        </div>
                                                    </div>

                                                <div class="col-md-6">
                                                    <div class="form-group mt-1">
                                                        <input type="checkbox" name="active"
                                                            id="switcheryColor4"
                                                            value="1"
                                                            class="switch"
                                                            checked
                                                            />
                                                            <% if (validationError) { %>
                                                                <% if (validationError.active) { %>
                                                                    <span class="text-danger"><%=validationError.active[0].msg %></span>
                                                                <% } %>
                                                            <% } %>
                                                        <label for="switcheryColor4"
                                                            class="card-title ml-1">الحالة </label>
                                                    </div>
                                                </div>

                                                </div>
                                            </div>


                                            <button type="button" class="btn btn-warning mr-1"
                                                    onclick="history.back();">
                                                <i class="ft-x"></i> تراجع
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="la la-check-square-o"></i> حفظ
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>

    <%- include("../layouts/footer") %> 
    <%- include("../layouts/footer-scripts") %> 

    <script>
        function selectShourtcut(e) {
            var shourtcut = e.target.value;
            var language = document.querySelectorAll("select.language option");
            removeAttribute(language)
            language.forEach(ele => {
                if(ele.getAttribute("data_lang") == shourtcut) {
                    ele.setAttribute("selected" , "")
                }
            })
            direction(shourtcut)
        }
        function selectLanguage(e) {
            var language = e.target.value;
            var languages = document.querySelectorAll("select.language option");
            var shourtcut = document.querySelectorAll("select.shourtcut option ");
            var data_lang = null
            languages.forEach(ele => {
                if(ele.innerHTML == language) {
                    data_lang = ele.getAttribute("data_lang")
                }
            })
            removeAttribute(shourtcut)
            shourtcut.forEach(option => {
                if(option.innerHTML == data_lang) {
                    option.setAttribute("selected" , "")
                }
            })
            direction(language)
        }

        function direction(lang) {
            var direction = document.querySelectorAll("select.direction option");
            removeAttribute(direction);

            if(lang == "ar" || lang.toLowerCase() == "arabic") {
                var dir = "rtl"
            } else {
                var dir = "ltr"
            }
            direction.forEach(ele => {
                if(ele.value == dir) {
                    ele.setAttribute("selected" , "")
                }
            })
        }

        function removeAttribute(elemnts) {
            elemnts.forEach(ele => {
                if(ele.hasAttribute("selected")) {
                    ele.removeAttribute("selected")
                }
            })
        }
    </script>
</body>
</html>
